.rg_layout{
  width: 100%;
  background-color: #f9f9f9;
  background-size: 100% 780px;
  overflow: hidden;
}

#the_down {
  background-color: #ffffff; !important;
}

.rg_layout .rg_form{
  width: 886px;
  min-height: 300px;
  padding: 15px;
  background-color: rgba(249, 255, 219, 0.49);
  margin:27px auto;
  box-sizing: border-box;
  border:0px solid darkslategray;
  box-shadow: darkgrey  2px 2px 8px 1px ;/*边框阴影*/
}


.rg_layout .rg_form > .rg_form_left{
  width:160px;
  float: left;
  padding-top:20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.rg_layout .rg_form > .rg_form_center{
  width:400px;
  float: left;
  padding-top:40px;
  box-sizing: border-box;
  font-size: 16px;
}
.rg_layout .rg_form > .rg_form_right{
  width:256px;
  float: right;
}

.rg_form > .rg_form_left > p:first-child{
  font-size: 20px;
  color:#ffcd26;

}
.rg_form > .rg_form_left > p:last-child{
  font-size: 23px;
  color: #a6a6a6;
}
.rg_form > .rg_form_center .td_left{
  width:115px;
  text-align: right;
}



.rg_form > .rg_form_center table{
  vertical-align: top;
}
.rg_form > .rg_form_center table tr{
  height: 55px;
}
.rg_form > .rg_form_center .td_right{
  width: 274px;
}
.rg_form_center .td_right > input[type="text"],.rg_form_center .td_right > input[type="date"]{
  width: 256px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  padding: 6px 12px;
  border-radius: 4px;
  border:1px solid #a6a6a6;
  float: right;
}
.rg_form > .rg_form_center .td_right.identify{
  padding-left: 22px;
  box-sizing: border-box;
}
.rg_form > .rg_form_center .td_right.check{
  padding-left: 20px;
  box-sizing: border-box;
}
.rg_form > .rg_form_center .td_right > .check{
  width: 138px;
  float: left;
  margin-right:14px;
}
.rg_form > .rg_form_center .td_right > .submit{
  width: 200px;
  height: 36px;
  margin-top: 20px;
  line-height: 36px;
  background-color: #1cc2ff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.rg_form > .rg_form_right >p{
  float: right;
  font-size: 14px;
  padding: 20px 12px 0 0;
  box-sizing: border-box;
}
.rg_form > .rg_form_right >p >a{
  color: #fc8989;
}

.errorMsg, .user_mes {
  font-size: 18px;
  color:red;
  text-align: center;
}
.user_mes {
  color:black;
}

.error_input {
  border: 1px solid crimson;
  box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
  -webkit-box-shadow: rgba(255, 0, 0, 0.5) 0px 0px 5px;
}

.correct_input {

}